* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.info {
    font-size: 2rem;
    width: 100%;
    text-align: center;
}
span {
    font-size: 1.5rem;
    margin: 5px;
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 10px;
}
.team-container {
    margin: 30px;
}
.random-throw, .button-container {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
}
button {
    padding: 5px 10px;
}
#team-one-points, #team-two-points {
    display: inline;
}
.result {
    align-self: center; 
    font-size: 1.5rem;
}
.random-throw {
    margin: 20px;
    height: 50px;
}